/*
* @Author: midoDaddy
* @Date:   2017-08-31 14:46:03
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-09-06 10:16:45
*/
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 50px;
}

.layouter-wrapper {
    margin: 0 auto;
}

.layouter-wrapper img {
}

