/*
* @Author: midoDaddy
* @Date:   2017-08-31 14:46:03
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-09-05 14:43:49
*/
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 50px;
}

