/*
* @Author: midoDaddy
* @Date:   2017-08-31 14:46:03
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-09-05 23:42:55
*/
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 50px;
}

.layouter-wrapper {
    position: relative;
    margin: 0 auto;
    background: tomato;
}

.layouter-wrapper img {
    position: absolute;
}

