/*
* @Author: midoDaddy
* @Date:   2017-08-31 14:46:03
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-08-31 23:51:00
*/
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 50px;
}

.calender-wrapper {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid tomato;
}
.calender-header {
    position: relative;
    height: 50px;
    color: #fff;
    text-align: center;
    background: tomato;
}
.calender-header>.iconfont {
    position: absolute;
    top: 0;
    padding: 0 5px;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
}
.calender-header .icon-return {
    left: 0;
}
.calender-header .icon-enter {
    right: 0;
}
.input-item-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
}
.input-item {
    width: 80px;
    height: 30px;
    padding-right: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: tomato;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
}
.controller-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 0;
}
.controller-wrapper .iconfont {
    display: block;
    width: 25px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: tomato;
    cursor: pointer;
    font-weight: bold;
}

.calender-table {
    width: 380px;
    height: 330px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    color: #666;
}
.calender-title {
    line-height: 50px;
}
.calender-table td {
    cursor: pointer;
}
.calender-table td:hover {
    color: tomato;
}
.calender-table .highlight {
    color: tomato;
}
.calender-table .disabled {
    color: #ccc;
    cursor: default;
}
.calender-table .disabled:hover {
    color: #ccc;
}

.calender-table .selected {
    color: #fff;
    background: tomato;
}
.calender-table .selected:hover {
    color: #fff;
}